{{> header}}

  {{> navigation}}

    <div class="row">
      <div class="col-sm-9 col-sm-push-3">

        <!-- content  start -->
        <div id="content"> 

          {{#if message}}
          <div class="alert alert-success" role="alert">
            <span class="fa fa-check-circle" aria-hidden="true"></span>
            <span class="sr-only">Message: </span>
            {{ message }}
          </div>
          {{/if}}


          <h3>Welcome back {{ name }}</h3>
          <p>Your level is {{ level }}</p>

          <div class="row">
            <div class="col-xs-6 col-sm-3 dash-menu"><a href="http://ism.edu.ng/admin/pages/"><i class="fa fa-file-text"></i>All Pages</a></div>
            <div class="col-xs-6 col-sm-3 dash-menu"><a href="http://ism.edu.ng/admin/programmes/"><i class="fa fa-briefcase"></i>All Programmes</a></div>
            <div class="col-xs-6 col-sm-3 dash-menu"><a href="http://ism.edu.ng/admin/campaign/current.php"><i class="fa fa-paste"></i>Current Campaigns</a></div>
            <div class="col-xs-6 col-sm-3 dash-menu"><a href="http://ism.edu.ng/admin/users/logout.php"><i class="fa fa-sign-out"></i>Logout</a></div>
          </div>

          {{!-- Add things that needs attention here --}}

        </div> 
        <!-- content  end -->  

      </div>

      {{> sidebar}}
                    
    </div>
    {{!-- End Row --}}

{{> footer}}