    <header class="navbar navbar-default navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                <img src="https://bc-20-maintenance-tracker.herokuapp.com/img/andela.png" alt="Andela Logo" class="img-responsive" width="200"></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
            </div>

            
            <ul class="nav navbar-nav navbar-right hidden-xs pull-right">
                <li class="nav-icon">
                    <a href="#" class="dropdown-toggle" aria-expanded="true" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                </li>

                <li class="nav-icon"><a href="#"><i class="fa fa-bell"></i> <span class="badge badge-danger">3</span></a></li>
              
                <li class="nav-icon dropdown">
                    <a href="#" data-toggle="dropdown" aria-expanded="true" class="dropdown-toggle">
                        {{#if level}}
                        <span> Administrator Account </span>
                        {{else}}
                        <span> Staff Account </span>
                        {{/if}}
                    </a>
                </li>
            </ul>
            
                
        </div><!-- end header container -->
        
    </header>