      <div class="col-sm-4 col-sm-pull-8">
        <aside class="sidebar">
          <div class="list-group">
            
            <!-- Dashboard -->
            <a class="list-group-item header" href="http://ism.edu.ng/admin/dashboard.php"><span class="fa fa-dashboard"></span> &nbsp; Dashboard</a>

            <!-- Edit Contents -->
            <a data-toggle="collapse" class="list-group-item header collapsed" href="#collapseEditContent">
            <span class="fa fa-file-text"></span> &nbsp; Requests</a>
            <div id="collapseEditContent" class="collapse" style="height: 0px;">
              <a class="list-group-item small" href="http://ism.edu.ng/admin/pages/"><span class="fa fa-caret-right"></span> &nbsp; All Pages</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/pages/new.php"><span class="fa fa-caret-right"></span> &nbsp; New Page</a>
            </div>

            <!-- Logout -->
            <a class="list-group-item header" href="/logout"><span class="fa fa-sign-out"></span> &nbsp; Logout</a>
            
          </div>
        </aside>
        <!-- aside  end -->
      </div>