      <div class="col-sm-3 col-sm-pull-9">
        <aside class="sidebar">
          <div class="list-group">
            
            <!-- Dashboard -->
            <a class="list-group-item header" href="/">
              <span class="fa fa-dashboard"></span> &nbsp; Dashboard
            </a>

            <!-- Requests -->
            <a data-toggle="collapse" class="list-group-item header collapsed" href="#collapseRequests">
              <span class="fa fa-file-text"></span> &nbsp; Requests
            </a>
            <div id="collapseRequests" class="collapse" style="height: 0px;">
              <a class="list-group-item small" href="/requests">
                <span class="fa fa-caret-right"></span> &nbsp; All Requests
              </a>
              <a class="list-group-item small" href="requests/new">
                <span class="fa fa-caret-right"></span> &nbsp; New Request
              </a>
            </div>


            <!-- Users -->
            <a data-toggle="collapse" class="list-group-item header collapsed" href="#collapseUsers">
              <span class="fa fa-users"></span> &nbsp; Users
            </a>
            <div id="collapseUsers" class="collapse" style="height: 0px;">
              <a class="list-group-item small" href="/users">
                <span class="fa fa-caret-right"></span> &nbsp; All Users
              </a>
              <a class="list-group-item small" href="/users/new">
                <span class="fa fa-caret-right"></span> &nbsp; New User
              </a>
            </div>


            <!-- Add New Staff -->
            <a class="list-group-item header" href="/register"><span class="fa fa-user"></span> &nbsp; Add New Staff</a>

            <a class="list-group-item header" href="/register"><span class="fa fa-user"></span> &nbsp; Edit Profile</a>

            <!-- Logout -->
            <a class="list-group-item header" href="/logout"><span class="fa fa-sign-out"></span> &nbsp; Logout</a>
            
          </div>
        </aside>
        <!-- aside  end -->
      </div>