      <div class="col-sm-4 col-sm-pull-8">
        <aside class="sidebar">
          <div class="list-group">
            
            <!-- Dashboard -->
            <a class="list-group-item header" href="http://ism.edu.ng/admin/dashboard.php"><span class="fa fa-dashboard"></span> &nbsp; Dashboard</a>
            <!-- Edit Contents -->
            <a data-toggle="collapse" class="list-group-item header collapsed" href="#collapseEditContent"><span class="fa fa-file-text"></span> &nbsp; Page Content</a>
            <div id="collapseEditContent" class="collapse" style="height: 0px;">
              <a class="list-group-item small" href="http://ism.edu.ng/admin/pages/"><span class="fa fa-caret-right"></span> &nbsp; All Pages</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/pages/new.php"><span class="fa fa-caret-right"></span> &nbsp; New Page</a>
            </div>
            <!-- Programmes -->
            <a data-toggle="collapse" class="list-group-item header" href="#collapseProgramme"><span class="fa fa-briefcase"></span> &nbsp; Programmes</a>
            <div id="collapseProgramme" class="collapse">
              <a class="list-group-item small" href="http://ism.edu.ng/admin/programmes/"><span class="fa fa-caret-right"></span> &nbsp; All Programmes</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/programmes/new.php"><span class="fa fa-caret-right"></span> &nbsp; New Programme</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/programmes/categorys/"><span class="fa fa-caret-right"></span> &nbsp; Programme Categories</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/programmes/categorys/new.php"><span class="fa fa-caret-right"></span> &nbsp; New Category</a>
            </div>
            <!-- Slideshows -->
            <a data-toggle="collapse" class="list-group-item header" href="#collapseSlideshow"><span class="fa fa-image"></span> &nbsp; Slideshows</a>
            <div id="collapseSlideshow" class="collapse">
              <a class="list-group-item small" href="http://ism.edu.ng/admin/slideshows/"><span class="fa fa-caret-right"></span> &nbsp; All Slideshows</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/slideshows/new.php"><span class="fa fa-caret-right"></span> &nbsp; New Slideshow</a>
            </div>
            <!-- Campaign -->
            <a data-toggle="collapse" class="list-group-item header" href="#collapseCampaign"><span class="fa fa-paste"></span> &nbsp; Campaigns</a>
            <div id="collapseCampaign" class="collapse">
              <a class="list-group-item small" href="http://ism.edu.ng/admin/campaign/current.php"><span class="fa fa-caret-right"></span> &nbsp; Current Campaigns</a>
              <!--  <a href="#"><span class="fa fa-caret-right"></span> &nbsp; Add Email</a>
              <a href="#"><span class="fa fa-caret-right"></span> &nbsp; Add Bulk Email</a>
              <a href="#"><span class="fa fa-caret-right"></span> &nbsp; Delete Email</a>
              <a href="#"><span class="fa fa-caret-right"></span> &nbsp; Unsubscribe Email</a> -->
            </div>
            <!-- Documents -->
            <a data-toggle="collapse" class="list-group-item header" href="#collapseDocument"><span class="fa fa-download"></span> &nbsp; Documents</a>
            <div id="collapseDocument" class="collapse">
              <a class="list-group-item small" href="http://ism.edu.ng/admin/documents"><span class="fa fa-caret-right"></span> &nbsp; All Documents</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/documents/new.php"><span class="fa fa-caret-right"></span> &nbsp; New Document</a>
            </div>
            <!-- Certificate -->
            <a data-toggle="collapse" class="list-group-item header" href="#collapseCertificate"><span class="fa fa-file"></span> &nbsp; Certificate Manager</a>
            <div id="collapseCertificate" class="collapse">
              <a class="list-group-item small" href="http://ism.edu.ng/admin/certificates"><span class="fa fa-caret-right"></span> &nbsp; All Certificates</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/certificates/new.php"><span class="fa fa-caret-right"></span> &nbsp; New Certificate</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/certificates/search.php"><span class="fa fa-caret-right"></span> &nbsp; Search for Certificate</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/certificates/modules"><span class="fa fa-caret-right"></span> &nbsp; Certificate Modules</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/certificates/modules/new.php"><span class="fa fa-caret-right"></span> &nbsp; New Module</a>
            </div>
            <!-- Course Registration -->
            <a data-toggle="collapse" class="list-group-item header" href="#collapseRegistration"><span class="fa fa-file"></span> &nbsp; Course Registration</a>
            <div id="collapseRegistration" class="collapse">
              <a class="list-group-item small" href="http://ism.edu.ng/admin/registrations"><span class="fa fa-caret-right"></span> &nbsp; All Registrations</a>
              <a class="list-group-item small" href="http://ism.edu.ng/admin/registrations/search.php"><span class="fa fa-caret-right"></span> &nbsp; Search for Registration</a>
            </div>
            <!-- Tools -->
            <a data-toggle="collapse" class="list-group-item header" href="#collapseTools"><span class="fa fa-legal"></span> &nbsp; Tools</a>
            
            <div id="collapseTools" class="collapse">
              <a class="list-group-item small" href="http://ism.edu.ng/admin/campaign/email-extractor.php"><span class="fa fa-caret-right"></span> &nbsp; Email Extractor</a>
            </div>
            <!-- Logout -->
            <a class="list-group-item header" href="http://ism.edu.ng/admin/users/logout.php"><span class="fa fa-sign-out"></span> &nbsp; Logout</a>
            
          </div>
        </aside>
        <!-- aside  end -->
      </div>