{{> header}}

		      <div class="row">

		        <div class="">
		            
		            <h3>Add a New Comment</h3>
		            {{!-- used to prevent float --}}
		            <div class="clearfix"></div>

		            <form name="login" action="/comments/new" class="form-horizontal" role="form" method="post">

		            	{{!-- Title --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">Title <span class="mandatory">*</span></label>
						  <div class="col-sm-7">
						        <input type="text" id="title" name="title" class="form-control" placeholder="Title of Comment" required autofocus>
						  </div>
	                  	</div>


						{{!-- Description --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">Description <span class="mandatory">*</span></label>
						  <div class="col-sm-7">
						  		<textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
						  </div>
	                  	</div>

						<input type="hidden" name="admin_name" value="{{ adminName }}">
						<input type="hidden" name="request_id" value="{{ requestID }}">

					
						<!-- Submit Button -->
						<div class="col-sm-offset-2 col-sm-10">
                       		<button type="submit" class="btn btn-primary">Submit</button>
                    	</div>
						
						<!-- /.Submit Button -->

		            </form>

		        </div>
		        
		      </div>

{{> footer}}