{{> header}}

		      <div class="row">

		        <div class="log-in center-block col-sm-6 col-md-5 col-xs-12">
		            
		            <h3>Login</h3>
		            {{!-- used to prevent float --}}
		            <div class="clearfix"></div>

		            <form id="login_form" name="login" action="/" role="form" method="post">
						
						<!-- Email Address -->
						<div class="input-group">
							<span class="input-group-addon">
								<label for="email" class="control-label icon-label"><i class="fa fa-user"></i></label>
							</span>
							<input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
						</div>
						<!-- /.Email Address -->
		
						<!-- Password -->
						<div class="input-group">
							<span class="input-group-addon"><label for="password"><i class="fa fa-lock"></i></label></span>
							<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
						</div>
						<!-- /.Password -->


						{{!-- Invalid Username and Password --}}
						{{#if error}}
						<div class="alert alert-danger" role="alert">
						  <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
						  <span class="sr-only">Error:</span>
						  {{ error }}
						</div>
 						{{/if}}


						{{!-- Other Messages --}}
						{{#if message}}
						<div class="alert alert-info" role="alert">
						  <span class="fa fa-fa fa-info-circle" aria-hidden="true"></span>
						  <span class="sr-only">Message: </span>
						  {{ message }}
						</div>
 						{{/if}}

						<!-- Submit Button -->
						<button type="submit" class="btn btn-primary">Submit</button>
						<!-- /.Submit Button -->

		            </form>

		        </div>
		        
		      </div>

{{> footer}}