{{> header}}

		      <div class="row">

		        <div class="">
		            
		            <h3>Create New User</h3>
		            {{!-- used to prevent float --}}
		            <div class="clearfix"></div>

		            <form name="login" action="/signup" class="form-horizontal" role="form" method="post">
						
						{{!-- First Name --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">First Name <span class="mandatory">*</span></label>
						  <div class="col-sm-7">
						        <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required autofocus>
						  </div>
	                  	</div>

	                  	
						{{!-- Last Name --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">Last Name <span class="mandatory">*</span></label>
						  <div class="col-sm-7">
						        <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required>
						  </div>
	                  	</div>


	                  	
						{{!-- Email Address --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">Email Address <span class="mandatory">*</span></label>
						  <div class="col-sm-7">
						       <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required>
						  </div>
	                  	</div>


	                  	
						{{!-- Password --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">Password <span class="mandatory">*</span></label>
						  <div class="col-sm-7">
							<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
						  </div>
	                  	</div>


	                  	{{!-- Access Level --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">Access Level<span class="mandatory">*</span></label>
						  <div class="col-sm-7">
							<select name="level" id="level" class="form-control">
								<option value="1">Administrator</option>
								<option value="0">Staff Member</option>
							</select>
						  </div>
	                  	</div>


						<!-- Submit Button -->
						<div class="col-sm-offset-2 col-sm-10">
                       		<button type="submit" class="btn btn-primary">Submit</button>
                    	</div>
						
						<!-- /.Submit Button -->

		            </form>

		        </div>
		        
		      </div>

{{> footer}}