{{> header}}

    <div class="row">
      <div class="col-sm-8 col-sm-push-4">

      <!-- content  start -->
      <div id="content">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>All Repairs Request</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover responsive">
              <thead>
                <tr>
                  <th style="width:5%;" class="text-center"><strong>#</strong></th>
                  <th style="width:60%;"><strong>Request</strong></th>
                  <th style="width:15%;"><strong>Resolved</strong></th>
                  <th style="width:15%;"><strong>Approved</strong></th>
                  <th style="width:15%;"></th>
                </tr>
              </thead>
              <tbody>
                {{#each results}}
                <tr>
                  <td class="text-center">{{!-- {{ count++ }} --}}</td>
                  <td>{{ this.request}}</td>
                  <td>{{ this.resolved }}</td>
                  <td>{{ this.approved }}</td>
                  <td></td>

                </tr>
                {{/each}}

                </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <ul class="pagination pagination-md pull-right">
              <li class="active"><a href="#">1</a></li>  <li><a href="/admin/dashboard.php?p=2">2</a></li> <li><a href="/admin/dashboard.php?p=3">3</a></li> <li><a href="/admin/dashboard.php?p=4">4</a></li> <li><a href="/admin/dashboard.php?p=2">»</a></li>                                      </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <!-- content  end -->
      </div>   
    
      {{> sidebar}}
                    
    </div>
    {{!-- End Row --}}

{{> footer}}