{{> header}}
	
	{{> navigation}}

		      <div class="row">

		        <div class="col-sm-8 col-sm-push-4">

		        	        <!-- content  start -->
			        <div id="content">

			          <div class="panel panel-default">
			            <div class="panel-heading">
			              <h4>Create a New User</h4>
			            </div>

			            <div class="panel-body">

							<form name="login" action="/users/new" class="form-horizontal" role="form" method="post">
								
								{{!-- First Name --}}
								<div class="form-group">
								  <label class="col-sm-2 control-label">First Name <span class="mandatory">*</span></label>
								  <div class="col-sm-7">
								        <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required autofocus>
								  </div>
			                  	</div>

			                  	
								{{!-- Last Name --}}
								<div class="form-group">
								  <label class="col-sm-2 control-label">Last Name <span class="mandatory">*</span></label>
								  <div class="col-sm-7">
								        <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required>
								  </div>
			                  	</div>


			                  	
								{{!-- Email Address --}}
								<div class="form-group">
								  <label class="col-sm-2 control-label">Email Address <span class="mandatory">*</span></label>
								  <div class="col-sm-7">
								       <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required>
								  </div>
			                  	</div>



			                  	{{!-- Phone Number --}}
								<div class="form-group">
								  <label class="col-sm-2 control-label">Phone Number<span class="mandatory">*</span></label>
								  <div class="col-sm-7">
								       <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter Phone Number" required>
								  </div>
			                  	</div>


								<!-- Submit Button -->
								<div class="col-sm-offset-2 col-sm-10">
		                       		<button type="submit" class="btn btn-primary">Add User</button>
		                    	</div>
								
								<!-- /.Submit Button -->

				            </form>

			            </div>

			          </div>
			          <!-- /.panel panel-default -->
			        </div> 

		            

		        </div>

		        {{> sidebar}}
		        
		      </div>

{{> footer}}