{{> header}}

		      <div class="row">

		        <div class="">
		            
		            <h3>Create New User</h3>
		            {{!-- used to prevent float --}}
		            <div class="clearfix"></div>

		            <form name="login" action="/signup" class="form-horizontal" role="form" method="post">
						
						{{!-- First Name --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">First Name <span class="mandatory">*</span></label>
						  <div class="col-sm-7">
						        <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" required autofocus>
						  </div>
	                  	</div>

	                  	
						{{!-- Last Name --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">Last Name <span class="mandatory">*</span></label>
						  <div class="col-sm-7">
						        <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" required>
						  </div>
	                  	</div>


	                  	
						{{!-- Email Address --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">Email Address <span class="mandatory">*</span></label>
						  <div class="col-sm-7">
						       <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required>
						  </div>
	                  	</div>



	                  	{{!-- Phone Number --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">Phone Number<span class="mandatory">*</span></label>
						  <div class="col-sm-7">
						       <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter Phone Number" required>
						  </div>
	                  	</div>


						<!-- Submit Button -->
						<div class="col-sm-offset-2 col-sm-10">
                       		<button type="submit" class="btn btn-primary">Add User</button>
                    	</div>
						
						<!-- /.Submit Button -->

		            </form>

		        </div>
		        
		      </div>

{{> footer}}