//Bootstrap Overwrite
.form-control {
	border: 2px solid @input-border; //increase border
	box-shadow: none; //remove box shadow
	height: 45px;
	box-shadow:none;
	color: @text-color;

	&:focus{
		box-shadow: none;
	}
}

.input-group-btn .btn{
	height: 45px;
}

.input-group, .form-group{
    margin-bottom: 30px
}

.help-block{
	font-size: 10px;
	color: #aaa;
}
