//Bootstrap Overwrite
.form-control {
	//increase bootstraps border
	border: 2px solid @input-border; 
	//remove box shadow
	box-shadow: none; 
	height: 45px;
	box-shadow:none;
	color: @text-color;

	&:focus{
		box-shadow: none;
	}
}

// For input group
.input-group-btn .btn {
	height: 45px;
}

// Space out my Input forms
.input-group, .form-group {
    margin-bottom: 30px
}



// Navigation
.navbar.navbar-default {
	height: 80px;
}

// Navigation Icons
li.nav-icon {
	margin: 20px 20px 0 0;

	// Icons
	i{
		font-size: 22px;
	}

	// Notification
	.badge{
		background: @brand-danger;
	    position: absolute;
	    top: 4px;
	    right: 4px;
	}
}
