/* Log in */
.log-in {
    border: 2px solid @brand-border;
    margin: 30px auto 0;
    padding:30px;
}

.log-in h3 {
    color: #403F3F;
    float: left;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 30px;
    padding: 14px 0;
    text-align: center;
    text-transform: uppercase;
}

